

nav ul li{
list-style: none;
margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
}

.list-1{
    display: flex;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 button{
    background-color: #FD6E0A;
    color: aliceblue;
   padding: 10px;
    margin-top: -10px;
    border-radius: 10px;
    border-color: #FD6E0A;
    
 
    
   
   

 }
 div span button{
   background: none;
   color: #FD6E0A;
   border-color: #FD6E0A;
   padding: 10px;
    margin-top: -10px;
    border-radius: 10px;
    border-color: #FD6E0A;
 }
 .banner{
    display: flex;
    margin: 0 35px 0 230px;
     align-items: center;
    justify-content: space-around;
    
 }
    
 .banner-pic {
     max-width: 580px;
  }
 .content{
    background-color: #FD6E0A;
    padding: 100px;
    margin: 200px;
    
 }
 .about{
    background-color: white;
    text-align: center;
    padding: 50px;
    
 }
 .name-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px;
 }
 .para{
    color: gray;
    font-size: larger;
 }

 .card-intro{
   text-align: center;
 }
  .card{
   display: flex;
  
     justify-content: space-around;
    padding: 100px;
       

   
  }
  .skill-box{
    width: 250px;
  text-align: left;
  border-radius: 8px;
  padding: 20px;
  
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  }
  .p-text{
   color: darkgrey;
  }
  .resume-h1{
   text-align: center;
  }
 
 .resume-conteiner{
   display: flex;
   justify-content: space-around;
  
 }
 p{
   color: gray;
 }
 h3{
   color: gray;
 }
 .btn{
  display: block;      
    margin: 0 auto;      
    margin-top: 50px;   
    width: fit-content; 
    padding: 10px 20px; 
 }
 .contact-conteiner{
   padding: 130px 230px;
   display: flex;
   background-color: beige;
   gap: 100px;
   margin-top: 40px;
   
 }
 .info-cont-row{
   height: 44px;
   width: 500px;
   border-radius: 5px;
   border-style: none;
   background-color: white;
   color: gray;
   padding-left: 20px;
    font-size: large;
   
   
 }
 textarea{
   height: 44px;
   width: 500px;
   border-radius: 5px;
   border-style: none;
   background-color: white;
   color: gray;
   padding-left: 20px;
  font-size:x-large;
  height: 200px;
 }
.copy-right{
   position: absolute;
    bottom: 0; /* একদম নিচে সেট করবে */
    left: 0;
    right: 0;
    text-align: center;
}
 .s-btn{
  height: 50px;
  width: 100px;
  font-weight: 600;
 }
  